---
type HoverGifProps = {
  catPlaySrc: string;
  catSleepSrc: string;
  centerGifSrc?: string;
  vibeGifSrc?: string;
  tomorrowGifSrc?: string;
  barelyWorksGifSrc?: string;
  breakingThemGifSrc?: string;
  haveFunGifSrc?: string;
};

const {
  catPlaySrc,
  catSleepSrc,
  centerGifSrc,
  vibeGifSrc,
  tomorrowGifSrc,
  barelyWorksGifSrc,
  breakingThemGifSrc,
  haveFunGifSrc,
} =
  Astro.props as HoverGifProps;
const centerGifSource = centerGifSrc ?? catSleepSrc ?? catPlaySrc;
const vibeGifSource = vibeGifSrc ?? catPlaySrc;
const tomorrowGifSource = tomorrowGifSrc ?? catSleepSrc ?? catPlaySrc;
const barelyWorksGifSource = barelyWorksGifSrc ?? centerGifSrc ?? catPlaySrc;
const breakingThemGifSource = breakingThemGifSrc ?? catSleepSrc ?? catPlaySrc;
const haveFunGifSource = haveFunGifSrc ?? vibeGifSrc ?? catPlaySrc;
---
<div
  class="hover-gif"
  id="hover-gif"
  data-gif-play={catPlaySrc}
  data-gif-sleep={catSleepSrc}
  data-gif-center={centerGifSource}
  data-gif-vibe={vibeGifSource}
  data-gif-tomorrow={tomorrowGifSource}
  data-gif-barely={barelyWorksGifSource}
  data-gif-breaking={breakingThemGifSource}
  data-gif-havefun={haveFunGifSource}
  aria-hidden="true"
>
  <img src={catPlaySrc} alt="Cat typing enthusiastically" />
</div>

